---
import CardAmount from "../components/CardAmount";
import TabSection from "../components/TabSection";
import BaseLayout from "../layout/BaseLayout.astro";
import Home from '../components/Home'
---

<BaseLayout title="Home Page" description="Esta es la página inicial">
  <div>
    <img
      class="w-full h-36 lg:h-full object-cover object-center"
      src="/images/banner.jpg"
      alt="banner"
    />
  </div>
  <!--  -->
  <Home client:only />
</BaseLayout>
