---
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout title="Home Page" description="Esta es la página inicial">
  <div>
    <img
      class="w-full h-full object-cover object-center"
      src="/images/banner.jpg"
      alt="banner"
    />
  </div>
  <div class="relative pb-24">
    <div class="-mt-32 u-container bg-white">
      <div class="py-12">
        <div class="mx-auto max-w-xl">
          <div class="flex items-center justify-between">
            <div class="flex-shrink-0">
              <img
                src="/images/logo-passion-works.svg"
                alt="logo passion works"
              />
            </div>
            <div class="text-center">
              <h2 class="text-xl">Social Return on Investment:</h2>
              <h1 class="font-monserrat font-semibold text-3xl">
                PASSION WORKS STUDIO
              </h1>
            </div>
          </div>
        </div>
        <div class="mx-auto max-w-[720px] text-center mt-10">
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit vivamus,
            magna cras ridiculus quisque rhoncus vehicula nec, facilisis
            praesent ante mus posuere vitae magnis. A montes urna arcu mollis
            duis luctus praesent rhoncus natoque bibendum.
          </p>
        </div>
        <div class="bg-gray h-[1px] max-w-[936px] mx-auto mt-12"></div>
        <div class="mt-20">
          <div class="flex gap-x-28 items-center">
            <div class="w-1/2">
              <h2 class="text-2xl text-center">
                For every <span class="text-robin-egg-blue font-semibold"
                  >$1.00</span
                >
                <br />
                Invested in BB2C Internships Generates
              </h2>
              <div class="mt-9 bg-robin-egg-blue/5 py-8 px-10 rounded-lg text-center">
                <p>A social value</p>
                <p class="text-robin-egg-blue text-5xl font-semibold mt-1">$ 13.66</p>
                <div class="bg-silver h-[0.5px] mt-5"></div>
                <p class="text-gray-2 text-center mt-3 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit 75.67 + 250.00 + 19.50 + 350 + 430 = 2,908,009.05</p>
              </div>
            </div>
            <div class="w-1/2">
              <img src="/images/graphic-distribution.svg" alt="graphic distribution">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
