<header class="h-20 lg:h-9 bg-darmouth-green lg:bg-british-racing-green relative">
    <div class="u-container">
        <div class="block lg:hidden">
            <div class="py-6">
                <img class="w-24 h-9" src="/images/logo.svg" alt="logo">
            </div>
        </div>
        <div class="hidden lg:block">
            <div class="py-7 px-11 absolute bg-darmouth-green">
                <img class="w-24 h-9" src="/images/logo.svg" alt="logo">
            </div>
        </div>
    </div>
</header>