<header class="h-9 bg-british-racing-green relative">
    <div class="u-container">
        <div class="py-7 px-11 absolute bg-darmouth-green">
            <img src="/images/logo.svg" alt="logo">
        </div>
    </div>
</header>